<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Hello</title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<link href='{% static "main/signin.css" %}' rel="stylesheet">
</head>
<body>


<div class="container col-md-6 mt-5 pt-5">
        <form method="post">
            {% csrf_token %}
           	{{ form.title }}<br>
           	{{ form.author }}<br>
           	{{ form.text }}<br>
           	{{ form.created_date }}<br>
           	<span>{{error}}</span>
           	<input type="submit" value="Publish" class="btn btn-success mt-3 mb-5">
        </form>
    </div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>