<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>BlockNote</title>
  <meta property="og:title" content="{{article.title}}" />
  <meta property="og:type" content="Text" />
  <meta property="og:url" content="{{article.url}}" />
  <!-- <meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg" /> -->
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">

	<link href='{% static "main/style.css" %}' rel="stylesheet">
  {{ article_form.media }}
</head>
<body>
{% if not request.user.is_authenticated %}
<h5 class="width-50"><a href="/register/">Register</a> || <a href="/login/">Login</a></h5>
{% endif %}
{% if request.user == article.author or request.user.is_superuser %}
<h1 class="heading">BlockNote</h1>
<div class="row">
{% include "include/sidebar.html" %}
<div class="container col-md-9">
       <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ article_form.title }}
            {{ article_form.body }}
            {% if article.title|length < 0 %}
           	  <span>{{error}}</span>
            {% endif %}

            <input type="submit" value="Publish" align="center" class="btn btn-outline-dark">
        {% if article.title|length > 0 %}
          <div class="width-50">
            <input id="input" type="text" value="{{request.build_absolute_uri}}" class="hidden" />
            <span id="clipboardCopy" class="btn btn-outline-{{color}}"> Copy link </span>
          </div>  
        {% endif %}
        </form>
</div>
</div>
{% else %}
<div class="container col-md-7 mt-5">
    <h1>{{article.title}}</h1>
    <p class="text-muted">
      {{article.author}} 
      &bull; 
      <time datetime="{{ article.created_date}}">
        {{ article.created_date|date:"j-F, Y" }}
      </time> 
    </p>
    <h4>{{article.body|safe}}</h4>
</div>
{% endif %}
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script type="text/javascript">
  document.getElementById('clipboardCopy').addEventListener('click', clipboardCopy);
  async function clipboardCopy() {
    let text = document.querySelector("#input").value;
    alert('Link copied!')
    await navigator.clipboard.writeText(text);
  }
</script>
</body>
</html>