.form-control{
	max-width: 800px;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.form-title{
	font-size: 1.5em;
	padding: 0px 12px;
}
.btn-outline-dark{
	border-width: 5px;
	border-radius: 30px;
	margin-top: 1rem;
	float: right;
}

.btn-outline-success{
	border-width: 5px;
	border-radius: 30px;
	margin-top: 1rem;
	float: right;	
	/*animation: blinker 1s linear infinite;*/
}
/*@keyframes blinker {
  50% {
    opacity: 0;
  }
}*/
.hidden {
    display: none;
}
.input-group {
    width: auto;
    float: right;
}