.heading{
	font-family: 'Akaya Telivigala', cursive; 
	font-size: 80px;
	text-align: center;
	width: 50%;
	margin-left: 22%;
}
.form-control{
	max-width: 800px;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.form-title{
	font-size: 1.5em;
	padding: 0px 12px;
	/*width: 90.5%;*/
}
.btn-outline-dark{
	border-width: 5px;
	border-radius: 30px;
	margin-top: 1rem;
	float: right;
}

.btn-outline-success{
	border-width: 5px;
	border-radius: 30px;
	margin-top: 1rem;
	margin-right: 1rem;
	/*animation: blinker 1s linear infinite;*/
}
/*@keyframes blinker {
  50% {
    opacity: 0;
  }
}*/
.hidden {
    display: none;
}
.width-50 {
    width: auto;
    float: right;
    margin-right: 5rem;
}
.github-logo{
	float: right;
}
.click-here{
	margin-top: 1.5rem;
	float: right;
}
.text-small{
	font-size: 0.2em;
}


/*Side bar*/
